@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(../../../assets/icon/captain-icons/dist/captain-icons.css);
@import url(../../../assets/icon/themify-icons/themify-icons.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
button,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
img,
picture,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-tap-highlight-color: transparent;
}
body ::-moz-selection {
  background: #faf290;
  color: black;
}
body ::selection {
  background: #faf290;
  color: black;
}
body a:active,
body a:focus {
  outline-style: none;
  -moz-outline-style: none;
}
body input:focus,
body input:active,
body select:focus,
body textarea:focus,
body button:focus {
  outline: 0;
  outline-width: 0;
  -moz-appearance: none;
}
body img,
body picture {
  max-width: 100%;
}
body ul,
body ol {
  list-style: none;
}
body blockquote,
body q {
  quotes: none;
}
body blockquote:before,
body blockquote:after,
body q:before,
body q:after {
  content: "";
  content: none;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.6rem, 2.5vmin, 1.8rem);
  color: #454b54;
}
body h1 {
  font-size: clamp(2.8rem, 5vmin, 6rem);
}
body h2 {
  font-size: clamp(2.4rem, 4vmin, 5.2rem);
}
body h3 {
  font-size: clamp(1.92rem, 3.5vmin, 4.8rem);
}
body h4 {
  font-size: clamp(1.76rem, 3vmin, 4.4rem);
}
body h5 {
  font-size: clamp(1.6rem, 2.5vmin, 3.92rem);
}
body div,
body button,
body span,
body applet,
body object,
body iframe,
body h6,
body p,
body blockquote,
body pre,
body a,
body abbr,
body acronym,
body address,
body big,
body cite,
body code,
body del,
body dfn,
body em,
body img,
body ins,
body kbd,
body q,
body s,
body samp,
body small,
body strike,
body strong,
body sub,
body sup,
body tt,
body var,
body b,
body u,
body i,
body center,
body dl,
body dt,
body dd,
body ol,
body ul,
body li,
body fieldset,
body form,
body label,
body legend,
body table,
body caption,
body tbody,
body tfoot,
body thead,
body tr,
body th,
body td,
body article,
body aside,
body canvas,
body details,
body embed,
body figure,
body figcaption,
body footer,
body header,
body hgroup,
body menu,
body nav,
body output,
body ruby,
body section,
body input,
body textarea,
body select,
body summary,
body time,
body mark,
body audio,
body video {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}
body a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
body .hero__img {
  color: transparent;
}
body .hero__details {
  text-align: center;
}
@media (min-width: 1200px) {
  body .hero__details {
    text-align: left;
  }
}
body .hero__details h1,
body .hero__details h5 {
  color: white;
}
@media (min-width: 1200px) {
  body .hero__details h5 {
    text-align: right;
  }
}
body .hero__details h5 span::-moz-selection {
  color: inherit;
}
body .hero__details h5 span::selection {
  color: inherit;
}
body .search__form--icon {
  font-weight: bold;
  color: #9a9a9a;
}
body .search__form--input {
  color: black;
}
body .gallery__img--info p::after,
body .gallery__img--info a::after {
  font-family: "Font Awesome 5 Free";
}
body .gallery__img--info a {
  color: #e1d981;
}
body #arrow {
  font-size: 5rem;
}
@media (min-width: 1200px) {
  body #arrow {
    font-size: 6rem;
  }
}

.hero__details h1,
.gallery__img--info p,
.gallery__img--info a,
.nav--btn {
  font-weight: 600;
}

.hero__details h1,
.hero__details h5,
.nav--btn,
#logo--name {
  font-family: "Playfair Display", serif;
}

.hero__details h1,
#logo--name {
  font-style: italic;
}

h5,
h5 span,
.search__form--btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h5 span,
.nav--btn:hover {
  color: #faf290;
}

.search__form--input::-moz-placeholder {
  color: #e6e6e6;
}

.search__form--input:-ms-input-placeholder {
  color: #e6e6e6;
}

.search__form--input::placeholder,
p::after,
a::after {
  color: #e6e6e6;
}

.search__form--btn:hover,
#arrow {
  color: #6ec7b0;
}

#logo--name,
.gallery__img--info p {
  color: #63b39e;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: white;
  }
  40% {
    stroke: white;
  }
  66% {
    stroke: white;
  }
  80%, 90% {
    stroke: white;
  }
}
@keyframes color {
  0% {
    stroke: white;
  }
  40% {
    stroke: white;
  }
  66% {
    stroke: white;
  }
  80%, 90% {
    stroke: white;
  }
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 30vh 3.1rem 3.1rem 1fr;
}
body header {
  grid-row: 1/2;
}
body .hero {
  grid-column: 1/-1;
  grid-row: 2/4;
}
body .search {
  grid-column: 1;
  grid-row: 3/5;
}
body main {
  grid-row: 5;
  padding: 4rem;
}

header {
  display: grid;
  place-content: center;
  position: fixed;
  height: 6rem;
  inset: 0;
  z-index: 10;
  box-shadow: 0 0.1rem 2rem #cdcdcd;
  background: white;
}
header #logo {
  transition: all 0.2s;
  transform: scale(0.5);
  position: relative;
}
header #logo::-moz-selection {
  background-color: transparent;
  color: inherit;
}
header #logo::selection {
  background-color: transparent;
  color: inherit;
}
header #logo--name {
  transition: all 0.2s;
  display: grid;
  place-content: center;
  position: absolute;
  inset: 0;
  transform: scale(0);
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 17vh 17vh;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero {
    background: url("../../../assets/img/bg.svg"), url("../../../assets/img/2.jpg");
  }
}
.hero--img {
  align-self: end;
  justify-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(60%);
  min-height: 100%;
}
@media (min-width: 768px) {
  .hero--img {
    object-size: auto;
    filter: none;
  }
}
.hero--img::before {
  display: none;
}
.hero__details {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 1;
  display: grid;
  place-content: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero__details {
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: repeat(2, 8.5vh) 17vh;
  }
}
@media (min-width: 1200px) {
  .hero__details {
    grid-template-columns: 35vw 28vw 35vw;
    grid-template-rows: repeat(2, 8.5vh) 17vh;
  }
}
.hero__details h1 {
  cursor: pointer;
}
@media (min-width: 768px) {
  .hero__details h1 {
    grid-row: 2;
    width: 90%;
    margin: auto;
    transform: scale(0.8);
  }
}
@media (min-width: 1200px) {
  .hero__details h1 {
    place-self: start;
    margin-top: 5%;
    margin-left: 10rem;
    transform: scale(1.5);
    grid-column: 3;
    grid-row: 2;
  }
}
@media (min-width: 768px) {
  .hero__details h5 {
    grid-column: 3;
    grid-row: 2;
    width: 90%;
    margin: 0 auto;
    transform: scale(0.9);
  }
}
@media (min-width: 992px) {
  .hero__details h5 {
    width: 80%;
    position: relative;
    bottom: 5%;
  }
}
@media (min-width: 1200px) {
  .hero__details h5 {
    grid-column: 1;
    grid-row: 2;
    margin-right: 5%;
  }
}
.hero__details h5 span::-moz-selection {
  background-color: transparent;
}
.hero__details h5 span::selection {
  background-color: transparent;
}

.search {
  z-index: 1;
}
.search__form {
  background: white;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0.4rem 0.4rem #e6e6e6;
  border-radius: 0.6rem;
  height: 100%;
}
@media (min-width: 768px) {
  .search__form {
    width: 70vw;
  }
}
@media (min-width: 1200px) {
  .search__form {
    width: 45vw;
  }
}
.search__form--icon {
  cursor: pointer;
}

.gallery {
  margin-bottom: 8rem;
  transition: all 0.2s;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
}
@media (min-width: 992px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    padding: 0 10%;
  }
}
.gallery > * {
  border: solid 0.2rem white;
  border-radius: 0.5rem;
  box-shadow: 0.6rem 0.6rem 1rem #cdcdcd;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: all 0.2s ease;
}
.gallery > *:hover {
  border: solid 0.2rem black;
  transform: translateY(-1rem);
  box-shadow: 0.6rem 0.6rem 1rem #4d4d4d;
}
.gallery > * img {
  transition: all 0.2s;
}
.gallery > * img:hover {
  transform: scale(1.5);
}
.gallery > * img:not(:hover) {
  transform: scale(1);
}
.gallery > * .gallery__img--info {
  display: grid;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}
.gallery > * .gallery__img--info > * {
  margin-left: -1rem;
}
.gallery > * .gallery__img--info p {
  transform: translateY(0.5rem) scale(0.8);
  position: relative;
}
.gallery > * .gallery__img--info p::after {
  content: "";
  position: absolute;
  right: -1rem;
}
.gallery > * .gallery__img--info a {
  transform: translateY(-0.5rem) scale(0.8);
}
.gallery > * .gallery__img--info a::after {
  content: "";
  position: absolute;
  right: -1rem;
}

.missing {
  display: none;
  justify-content: center;
  transition: all 1s ease;
  opacity: 0;
}

.nav {
  display: grid;
  place-content: center;
  position: fixed;
  height: 6rem;
  bottom: -10rem;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 0.1rem 2rem #cdcdcd;
  background: white;
  transition: all 0.2s;
}

.floating {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  transition: all 0.2s;
  transform-origin: center;
  transform: scale(0);
}
@media (min-width: 768px) {
  .floating {
    right: 4rem;
  }
}
@media (min-width: 992px) {
  .floating {
    right: 6rem;
  }
}
@media (min-width: 1200px) {
  .floating {
    right: 7rem;
  }
}
.floating #progress {
  transition: all 0.2s;
  opacity: 0;
  position: absolute;
}
.floating #progress .profile-main-loader {
  position: fixed !important;
  top: 0;
  background: #6ec7b0;
  border-radius: 50%;
}
@media (min-width: 1200px) {
  .floating #progress .profile-main-loader {
    top: -2.1rem;
    padding: 0.4rem;
    border: solid 0.2rem #6ec7b0;
  }
}
.floating #progress .profile-main-loader .loader {
  position: relative;
  width: 5rem;
}
.floating #progress .profile-main-loader .loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.floating #progress .circular-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 70%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 15%;
}
.floating #progress .circular-loader .loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

.search__form--input {
  border: none;
  border-right: solid 0.2rem #e6e6e6;
  padding-right: 1rem;
  text-transform: capitalize;
  width: 50vw;
}
@media (min-width: 768px) {
  .search__form--input {
    width: 50vw;
  }
}
@media (min-width: 1200px) {
  .search__form--input {
    width: 30vw;
  }
}

.search__form--btn {
  background: none;
  cursor: pointer;
  transition: all 0.1s;
  transform: scale(0.9);
}

.nav--btn {
  cursor: pointer;
  border-radius: 0.6rem;
  width: 40vw;
  background: #faf290;
  transition: all 0.2s;
}
.nav--btn:hover {
  background: black;
}
@media (min-width: 992px) {
  .nav--btn {
    width: 20vw;
  }
}

#arrow {
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
@media (min-width: 1200px) {
  #arrow {
    position: relative;
    bottom: 2rem;
  }
}