@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(../../../assets/icon/captain-icons/dist/captain-icons.css);
@import url(../../../assets/icon/themify-icons/themify-icons.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
button,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
img,
picture,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-tap-highlight-color: transparent;
}
body ::-moz-selection {
  background: #faf290;
  color: black;
}
body ::selection {
  background: #faf290;
  color: black;
}
body a:active,
body a:focus {
  outline-style: none;
  -moz-outline-style: none;
}
body input:focus,
body input:active,
body select:focus,
body textarea:focus,
body button:focus {
  outline: 0;
  outline-width: 0;
  -moz-appearance: none;
}
body img,
body picture {
  max-width: 100%;
}
body ul,
body ol {
  list-style: none;
}
body blockquote,
body q {
  quotes: none;
}
body blockquote:before,
body blockquote:after,
body q:before,
body q:after {
  content: "";
  content: none;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.6rem, 2.5vmin, 1.8rem);
  color: #454b54;
}
body h1 {
  font-size: clamp(2.8rem, 5vmin, 6rem);
}
body h2 {
  font-size: clamp(2.4rem, 4vmin, 5.2rem);
}
body h3 {
  font-size: clamp(1.92rem, 3.5vmin, 4.8rem);
}
body h4 {
  font-size: clamp(1.76rem, 3vmin, 4.4rem);
}
body h5 {
  font-size: clamp(1.6rem, 2.5vmin, 3.92rem);
}
body div,
body button,
body span,
body applet,
body object,
body iframe,
body h6,
body p,
body blockquote,
body pre,
body a,
body abbr,
body acronym,
body address,
body big,
body cite,
body code,
body del,
body dfn,
body em,
body img,
body ins,
body kbd,
body q,
body s,
body samp,
body small,
body strike,
body strong,
body sub,
body sup,
body tt,
body var,
body b,
body u,
body i,
body center,
body dl,
body dt,
body dd,
body ol,
body ul,
body li,
body fieldset,
body form,
body label,
body legend,
body table,
body caption,
body tbody,
body tfoot,
body thead,
body tr,
body th,
body td,
body article,
body aside,
body canvas,
body details,
body embed,
body figure,
body figcaption,
body footer,
body header,
body hgroup,
body menu,
body nav,
body output,
body ruby,
body section,
body input,
body textarea,
body select,
body summary,
body time,
body mark,
body audio,
body video {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}
body a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 30vh 4vh 4vh 1fr;
}
body header {
  grid-row: 1/2;
  display: grid;
  place-content: center;
}
body header #logo {
  transform: scale(0.6);
}
body .hero {
  grid-column: 1/-1;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 17vh 17vh;
}
@media (min-width: 768px) {
  body .hero {
    background: url("../../../assets/img/bg.svg");
  }
}
body .hero__img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background: url("../../../assets/img/hero.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  filter: brightness(60%);
  min-height: 100%;
  color: transparent;
}
@media (min-width: 768px) {
  body .hero__img {
    background-size: auto;
    filter: none;
  }
}
body .hero__details {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 1;
  display: grid;
  place-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  body .hero__details {
    display: grid;
    grid-template-columns: 35vw 28vw 35vw;
    grid-template-rows: repeat(2, 8.5vh) 17vh;
    text-align: left;
  }
}
body .hero__details h1 {
  color: white;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 768px) {
  body .hero__details h1 {
    place-self: start;
    margin-top: 5%;
    margin-left: 10rem;
    transform: scale(1.5);
    grid-column: 3;
    grid-row: 2;
  }
}
body .hero__details h5 {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
@media (min-width: 768px) {
  body .hero__details h5 {
    text-align: right;
    grid-column: 1;
    grid-row: 2;
    margin-right: 5%;
  }
}
body .hero__details h5 span {
  font-family: "Poppins", sans-serif;
  color: #faf290;
}
body .hero__details h5 span::-moz-selection {
  background-color: transparent;
  color: inherit;
}
body .hero__details h5 span::selection {
  background-color: transparent;
  color: inherit;
}
body .search {
  z-index: 1;
  grid-column: 1;
  grid-row: 3/5;
}
body .search__form {
  background: white;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0.4rem 0.4rem #e6e6e6;
  border-radius: 0.6rem;
  height: 8vh;
}
@media (min-width: 1200px) {
  body .search__form {
    width: 35vw;
  }
}
body .search__form--icon {
  font-weight: bold;
  color: #9a9a9a;
  cursor: pointer;
}
body .search__form--input {
  border: none;
  border-right: solid 0.2rem #e6e6e6;
  color: black;
  padding-right: 1rem;
  width: 50vw;
}
@media (min-width: 1200px) {
  body .search__form--input {
    width: 20vw;
  }
}
body .search__form--input::-moz-placeholder {
  color: #e6e6e6;
}
body .search__form--input:-ms-input-placeholder {
  color: #e6e6e6;
}
body .search__form--input::placeholder {
  color: #e6e6e6;
}
body .search__form--btn {
  background: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: all 0.1s;
  transform: scale(0.9);
}
body .search__form--btn:hover {
  font-weight: 600;
  color: #faf290;
}
body main {
  grid-row: 5;
  padding: 4rem;
}
body main .gallery {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
}
body main .gallery > * {
  display: grid;
  place-content: center;
  height: 40vh;
  border: solid 0.2rem black;
}