.search__form--input {
    border: none;
    border-right: solid .2rem c(tertiary);
    padding-right: 1rem;
    text-transform: capitalize;
    width: 50vw;

    @include medium {
        width: 50vw;
    }

    @include extra-large {
        width: 30vw;
    }
}