header {
    display: grid;
    place-content: center;

    #logo {
        transform: scale(.6);

        &::selection {
            background-color: transparent;
            color: inherit;
        }
    }
}