$colors: (
    primary: #6ec7b0,
    primary-var: #63b39e,
    secondary: #faf290,
    secondary-var: #e1d981,
    tertiary: #e6e6e6,

    text: #454b54,
);

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);