body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 30vh 3.1rem 3.1rem 1fr;

    header {
        grid-row: 1 / 2;
    }

    .hero {
        grid-column: 1 / -1;
        grid-row: 2 / 4;
    }

    .search {
        grid-column: 1;
        grid-row: 3 / 5;
    }

    main {
        grid-row: 5;
        padding: 4rem;
    }
}