body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 30vh 4vh 4vh 1fr;

    header {
        grid-row: 1 / 2;
    }

    .hero {
        grid-column: 1 / -1;
        grid-row: 2 / 4;
    }

    .search {
        grid-column: 1;
        grid-row: 3 / 5;
    }

    main {
        grid-row: 5;
        padding: 4rem;

        .gallery {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));

            @include large {
                grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
                padding: 0 10%;
            }

            &>* {
                border: solid .2rem white;
                border-radius: .5rem;
                box-shadow: .6rem .6rem 1rem darken(c(tertiary), 10%);
                overflow: hidden;
                position: relative;
                transition: all .2s ease;

                &:hover {
                    transform: translateY(-1rem);
                }

                img {
                    transition: all .2s;

                    &:hover {
                        transform: scale(1.5);
                    }

                    &:not(:hover) {
                        transform: scale(1);
                    }
                }

                .gallery__img--info {
                    display: grid;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    background: white;

                    &>* {
                        margin-left: -1rem;
                    }

                    p {
                        color: c(primary-var);
                        font-weight: 600;
                        transform: translateY(.5rem) scale(.8);
                        position: relative;

                        &::after {
                            font-family: "Font Awesome 5 Free";
                            content: '\f1fa';
                            color: c(tertiary);
                            position: absolute;
                            right: -1rem;
                        }
                    }

                    a {
                        transform: translateY(-.5rem) scale(.8);
                        color: c(secondary-var);
                        font-weight: 600;

                        &::after {
                            font-family: "Font Awesome 5 Free";
                            content: '\f0ab';
                            color: c(tertiary);
                            position: absolute;
                            right: -1rem;
                        }
                    }
                }
            }
        }

        .missing {
            display: flex;
            justify-content: center;
            transition: all .2s ease;
            opacity: 0;
        }

    }
}