body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 30vh 4vh 4vh 1fr;

    header {
        grid-row: 1 / 2;
    }

    .hero {
        grid-column: 1 / -1;
        grid-row: 2 / 4;
    }

    .search {
        grid-column: 1;
        grid-row: 3 / 5;
    }

    main {
        grid-row: 5;
        padding: 4rem;

        .gallery {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));

            @include large {
                grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
                padding: 0 10%;
            }

            &>* {
                display: grid;
                place-content: center;
                height: 50vh;
                border: solid .2rem black;
            }
        }
    }
}